td.day.today {
    border-bottom: 1px solid #fff !important;
}

td.day.event, div.event {
    background-color: rgb(55, 136, 216);
    color: #fff;
}

div.event.highlight {
    box-shadow: red 0px 0px 0px 3px;
}

.event-name {
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 4px;
}

td.day.gold,
div.event.gold,
.gold .event-name
{
    background-color: #F9A825;
}

td.day.mushrooms,
div.event.mushrooms,
.mushrooms .event-name
{
    background-color: #75230a;
}

td.day.hourglasses,
div.event.hourglasses,
.hourglasses .event-name
{
    background-color: #8D6E63;
}

td.day.aura,
div.event.aura,
.aura .event-name
{
    background-color: #558B2F;
}

td.day.animals,
div.event.animals,
.animals .event-name
{
    background-color: #795548;
}

td.day.epic-thirst,
div.event.epic-thirst,
.epic-thirst .event-name
{
    background-color: #8E24AA;
}

td.day.epic-luck,
div.event.epic-luck,
.epic-luck .event-name
{
    background-color: #8E24AA;
}

td.day.epic-shops,
div.event.epic-shops,
.epic-shops .event-name
{
    background-color: #6A1B9A;
}

td.day.blacksmith,
div.event.blacksmith,
.blacksmith .event-name
{
    background-color: #757575;
}

td.day.souls,
div.event.souls,
.souls .event-name
{
    background-color: #00796B;
}

td.day.fortress,
div.event.fortress,
.fortress .event-name
{
    background-color: #795548;
}

td.day.xp,
div.event.xp,
.xp .event-name
{
    background-color: #0D47A1;
}

td.day.black-friday,
div.event.black-friday,
.black-friday .event-name
{
    background-color: #000;
}

td.day.legendary-dungeon,
div.event.legendary-dungeon,
.legendary-dungeon .event-name
{
    background-color: #e26200;
}

div.event {
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
    margin: 1px;
    background-position: 3px center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.weekly-summary div.event {
    padding: 2px;
}

div.event-tooltip.event {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.event span {
    margin-left: 18px;
}

.weekly-summary div.event.other span {
    margin-left: 0;
}

div.event.gold
{
    background-image: url("../images/events/gold5-14.png");
}

div.event.mushrooms
{
    background-image: url("../images/events/mushrooms-14.png");
}

div.event.hourglasses
{
    background-image: url("../images/events/hourglasses2-14.png");
}

div.event.aura
{
    background-image: url("../images/events/aura-14.png");
}

div.event.animals
{
    background-image: url("../images/events/fruits-14.png");
}

div.event.epic-thirst
{
    background-image: url("../images/events/epic-thirst-14.png");
}

div.event.epic-luck
{
    background-image: url("../images/events/epic-luck2-14.png");
}

div.event.epic-shops
{
    background-image: url("../images/events/epic-shops2-14.png");
}

div.event.blacksmith
{
    background-image: url("../images/events/blacksmith2-14.png");
}

div.event.souls
{
    background-image: url("../images/events/souls-14.png");
}

div.event.fortress
{
    background-image: url("../images/events/fortress-14.png");
}

div.event.xp
{
    background-image: url("../images/events/xp2-14.png");
}

div.event.black-friday
{
    background-image: url("../images/events/black-gem-14.png");
}

div.event.legendary-dungeon
{
    background-image: url("../images/events/leg-gem-14.png");
}
